@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap');
.categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.recipe-container {
    border: 1px white solid;
    border-radius: 10px;
    box-shadow: 2px 1px 5px grey;
    padding: 15px;
    background-color: white;
    margin: 30px;
    width: 425px;
}

.container hr {
    border-top: 1px solid black;
    margin-bottom: 20px;
}

.CategorieName {
    text-align: center;
    text-decoration: solid;
}

.flex {
    display: flex;
}

.felx-row {
    flex-direction: row;
}