@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Manrope", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

.hat {
    display: block;
    max-height: 50px;
    max-width: 50px;
    margin-bottom: -20px;
}

.app-title {
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
    display: inline-block;
    margin-left: 30px;
    color: black;
}

.app-logo {
    margin-left: 20px;
}

.difficulty-1,
.difficulty-2,
.difficulty-3 {
    display: inline-block;
    height: 25px;
    background-image: url('../assets/chefHat.png');
    margin-bottom: -10px;
}

.difficulty-1 {
    width: 20px;
    background-size: 20px;
    background-repeat: no-repeat;
}

.difficulty-2 {
    width: 40px;
    background-size: 20px;
    background-repeat: repeat-x;
}

.difficulty-3 {
    width: 60px;
    background-size: 20px;
    background-repeat: repeat-x;
}

.login-form {
    width: 340px;
    margin: 50px auto;
    padding: 30px;
}