.One-Recipe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 80%;
    margin-left: 40px;
}

.OneRecipe-Details {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 195px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    color: white;
}

.one-recipe-title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.one-recipe-title>.main-content {
    margin-top: -15px;
}

.OneRecipe-Info {
    position: relative;
}

table,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    margin-top: 20px;
    margin-bottom: 15px;
}

.ingredients {
    border: beige 1px solid;
}

.Cooking-Img {
    height: 800px;
    width: 700px;
    margin-top: 60px
}

.one-recipe-full {
    max-width: fit-content;
    margin: auto;
}

.recipe-image-left,
.recipe-details-full {
    min-width: 450px;
}

.rounded-div {
    border: 1px white solid;
    border-radius: 10px;
    box-shadow: 2px 1px 5px grey;
    border-collapse: collapse;
    margin: auto;
}

.rating-box {
    max-width: 900px;
    background-color: white;
    padding: 10px;
}

.OneRecipe-Img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.recipe-image-left,
.OneRecipe-Img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.recipe-details-full {
    padding: 20px;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nutritious-values {
    width: 100%;
    text-align: center;
}

.recipe-details-full h2 {
    text-align: center;
    margin-bottom: 25px;
}

.ingredient-list li {
    margin-left: 20px;
}

.ingredient-list {
    list-style: initial;
    line-height: 30px;
}

.nutritious-values td,
.nutritious-values th,
.nutritious-values {
    border: 1px solid lightgray;
    text-align: center;
}

.rating-btns {
    text-align: right;
}